$red: #ed0000;
$yellow: #fff046;
$darkyellow: #EDDF47;
$blue: #0059ed;
$orange: #f17e02;
$purple: #fa00da;
$lightgreen: #aae900;
$green: #00fa41;
$black: #202020;
$gray: #686868;
$white:#ffffff;
$aqua: #00F1C9;
$lightblue:#3984ff;
$ciscoblue:#049fd8;
$fadedwhite:rgba(255,255,255,0.4);
$fadedblack:rgba(0,0,0,0.3);